html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  margin: 0;
  background: #000;
  overflow: hidden;
}

#game-container {
  margin: auto;
  image-rendering: pixelated;
}

canvas {
  position: absolute;
}
