html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #0f0f17;
  display: flex;
}

#game-container {
  margin: auto;
  image-rendering: pixelated;
  box-shadow: 0 0 2px #000;
}

canvas {
  position: absolute;
}

#volume-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  display: flex;
}

#volume {
  cursor: pointer;
  margin: auto 4px;
}

.material-icons {
  color: rgba(255, 255, 255, .75);
  cursor: pointer;
  margin: 4px;
}

.material-icons:hover {
  color: rgba(255, 255, 255, 1);
}